<div class="row">
	<div class="col-xs-6">

		<div class="form-group">
			<label for="selApp">Aplicaci&oacuten</label>
			<select name="selApp" id="selApp" ng-change="cambiaApp()" ng-model="idAplicacion" class="form-control" >
				<option  ng-repeat="app in InventarioApp | orderBy:'nombre_aplicacion'" value="{{app.id}}">{{app.nombre_aplicacion}}</option>
			</select>
		</div>

		<div class="form-group">
			<label for="selMod">M&oacuteulo</label>
			<select name="selMod" id="selMod" ng-model="idModulo" class="form-control" >
				<option  ng-repeat="mod in modulos | orderBy:'nombre_modulo'" value="{{mod.id}}">{{mod.nombre_modulo}}</option>
			</select>
		</div>
		
		<div class="form-group">
			<label for="selCar">Capacidad</label>
			<select name="selCar" id="selCar"  ng-change="cambiaCar()"  ng-model="idCaracteriza" class="form-control" >
				<option  ng-repeat="cap in capacidades | orderBy:'nombre'" value="{{cap.id}}">{{cap.nombre}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="selCapEsp">Capacidad Especifica</label>
			<select name="selCapEsp" id="selCapEsp" ng-model="idCapacidadEsp" class="form-control" >
				<option  ng-repeat="esp in especificas | orderBy:'nombre'" value="{{esp.id}}">{{esp.nombre}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="selNivel">¿El modulo soporta la capacidad?</label>
			<select name="selNivel" id="selNivel" ng-model="nivel" class="form-control">
				<option value="0">No la soporta</option>
				<option value="1">Parcialmente soportada</option>
				<option value="2">Completamente soportada</option>
			</select>
		</div>
		<div class="form-group">
			<button class="btn btn-primary" ng-click="guardar()">Guardar</button>
		</div>
	</div>
</div>