
<script>
	$('#divColor1').popover();
	$('#divColor2').popover();
	$('#divColor3').popover();
	$('#divColor4').popover();
	$('#divColor5').popover();
	$('#divColor6').popover();
	$('#divColor7').popover();
</script>
<h3>Escala de valores:</h3>
<div class="row" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
	<div class="col-xs-12">
		<div id="divColor1" class="col-xs-1 fondo_0" data-placement="bottom" rel="popover" data-trigger="hover" data-content="No existe ninguna evidencia de implementación tecnológica, definición del proceso o entrenamiento del personal para soportar la capacidad.">
			<h4>0%</h4>
		</div>
		<div id="divColor2" class="col-xs-1 fondo_17" data-placement="bottom" rel="popover" data-trigger="hover" data-content="Existe un mínimo avance en algunos de los componentes  tecnológicos, de procesos o de formación al personal sobre la capacidad. Especialmente en la incorporación de elementos Tecnológico, el levantamiento de la documentación de los procedimientos o procesos en formatos AS-IS o el conocimiento básico o  empírico de los proceso y sistemas de información que soportan la capacidad.">
			<h4>17%</h4>
		</div>
		<div id="divColor3" class="col-xs-1 fondo_33" data-placement="bottom" rel="popover" data-trigger="hover" data-content="Existe un mínimo avance en dos componentes de la capacidad (tecnológico, procesos, formación o capacitación). Especialmente en la incorporación de elementos Tecnológico o el levantamiento de la documentación en la descripción de los procesos o procedimientos en formato AS-IS.">
			<h4>33%</h4>
		</div>
		<div id="divColor4" class="col-xs-1 fondo_50" data-placement="bottom" rel="popover" data-trigger="hover" data-content="Existe un mínimo avance en los tres componentes de la capacidad (tecnológico, procesos, formación o capacitación).  Especialmente en la incorporación de elementos Tecnológico o el levantamiento de la documentación en la descripción de los procesos o procedimientos en formato AS-IS.">
			<h4>50%</h4>
		</div>
		<div id="divColor5" class="col-xs-1 fondo_67" data-placement="bottom" rel="popover" data-trigger="hover" data-content="Existe una implementación completa de algunos de los componentes de la capacidad, principalmente en la automatización tecnología de los procesos o la documentación completa de los  procesos y procedimientos en formatos AS-Is y To-be.">
			<h4>67%</h4>
		</div>
		<div id="divColor6" class="col-xs-1 fondo_83" data-placement="bottom" rel="popover" data-trigger="hover" data-content="Existe una implementación completa en dos de los componentes de la capacidad, principalmente en la automatización tecnología de los procesos y la documentación completa de los  procesos y procedimientos en formatos AS-Is y To-be.">
			<h4>83%</h4>
		</div>
		<div id="divColor7" class="col-xs-1 fondo_100" data-placement="bottom" rel="popover" data-trigger="hover" data-content="Los componentes de las capacidades están totalmente desarrolladas, desde la automatización completa de los procesos, la documentación completa de los  procesos y procedimientos en formatos AS-Is y To-be y la capacitación a todo el recurso humano (técnico y funcional) que soporta la capacidad.">
			<h4>100%</h4>
		</div>
	</div>

</div>

<br>


<div class="row">
	<div class="panel-heading" ng-if="isAdmin()">
		<a  href="#/addCapacidad"><strong>Agregar Capacidad</strong></a> |
		<a  href="#/addCaracteristica"><strong>Agregar Caracteristica</strong></a> |
		<a  href="#/addAppCaract"><strong>Agregar Aplicaci&oacuten</strong></a> |
		<a  href="#/addModCaract"><strong>Agregar Modulo</strong></a>

	</div>

	<div class="panel-body">
		<div ng-repeat="cap in capacidades" id="{{cap.id}}" class="col-xs-12 panel panel-default panel-success"  data-ng-init="init()">
		  <div class="panel-heading">
			<p class="panel-title fuente_titulo">
				<div class="row col-xs-12">
					<div class="col-xs-3">
						<strong>
							<div ng-if="isAdmin()">
								<a  href="#/editCapacidad/{{cap.id}}">{{cap.nombre}}</a>
							</div>
							<div ng-if="!isAdmin()">
								{{cap.nombre}}
							</div>
						</strong>
					</div>
					<div class="col-xs-2-offset-10">
						<div ng-if="isAdmin()" align="right">
							<button name="borrarCapacidad" class="btn btn-danger btn-xs" ng-click="borrarCap( cap.id)" >Borrar</button>
						</div>
					</div>
				</div>
				<br>
			</p>
		  </div>
		  <div class="panel-body">
			<div align="center"
				class="col-xs-4 fondo_{{getEvaluacion(especificas.id, especificas.nivel, especificas.aplicaciones, especificas.modulos, especificas.nivelPersonaModulo, especificas.nivelPersonaAplicacion, cap.id)}}"
				ng-repeat="especificas in cap.capacidades">
				<div ng-if="isAdmin()">
					<a href="#/editCaracteristica/{{especificas.id}}">{{especificas.nombre}}</a>
					<div style="text-align: center; float: right; cursor: pointer;">
						<span name="borrarCaracteristicas" class="glyphicon glyphicon-remove-circle " ng-click="borrarCaracteristica(especificas.id)" aria-label="Right Align" aria-hidden="true"></span>
					</div>
				</div>
				<div ng-if="!isAdmin()">
					{{especificas.nombre}}
				</div>

				
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="modulo in especificas.modulos">
						<div ng-if="isAdmin()">
							<a href="#/editModuloCap/{{modulo.pivot.id}}">{{modulo.nombre_modulo}} (Modulo)</a>
							<span name="borrarModulo" class="glyphicon glyphicon-remove-circle " ng-click="borrarMod(modulo.id, especificas.id)" style="float: right" aria-label="Right Align" aria-hidden="true"></span>
						</div>
						<div ng-if="!isAdmin()">
							{{modulo.nombre_modulo}} (Modulo)
						</div>


					</li>
				</ul>
				<ul class="list-group" ng-repeat="aplicacion in especificas.aplicaciones">
					<li class="list-group-item">
						<div ng-if="isAdmin()">
							<a href="#/editAplicacionCap/{{aplicacion.pivot.id}}">{{aplicacion.nombre_aplicacion}} (Aplicacion)</a>
							<span name="borrarAplicacion" class="glyphicon glyphicon-remove-circle " ng-click="borrarApp(aplicacion.id, especificas.id)" style="float: right" aria-label="Right Align" aria-hidden="true"></span>
						</div>
						<div ng-if="!isAdmin()">
							{{aplicacion.nombre_aplicacion}} (Aplicacion)
						</div>
						
					</li>
				</ul>
			</div>
		  </div>
		</div>

	</div>
</div>
