<div class="row">
	<div class="col-xs-12">
		<table class="table">
			<thead>
				<th>Nivel</th>
			</thead>
			<tbody>
				<tr>
					<td>
						<select class="form-control" ng-model="nivel" name="selNivel" id="selNivel">
							<option value="0">0%</option>
							<option value="17">17%</option>
							<option value="33">33%</option>
							<option value="50">50%</option>
							<option value="67">67%</option>
							<option value="83">83%</option>
							<option value="100">100%</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<button class="btn btn-primary" ng-click="guardarCambio()">Guargar</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>